.product-list {
  padding: 20px;

  .search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    .ant-input-search {
      width: 100%;
      max-width: 400px; // Giới hạn chiều rộng tối đa cho thanh tìm kiếm
      border-radius: 50px; // Làm tròn các góc của thanh tìm kiếm
      overflow: hidden;

      .ant-input-wrapper {
        .ant-input {
          border-radius: 50px 0 0 50px; // Làm tròn góc trái của ô input
          border: 2px solid #1890ff; // Đặt viền màu xanh
          padding: 10px 15px; // Khoảng cách padding để thanh tìm kiếm trông cân đối
        }

        .ant-btn {
          border-radius: 0 50px 50px 0; // Làm tròn góc phải của nút tìm kiếm
          background-color: #1890ff; // Màu nền xanh
          color: white; // Màu chữ trắng
          border: 2px solid #1890ff; // Viền cùng màu với nền
          transition: background-color 0.3s ease; // Hiệu ứng khi hover

          &:hover {
            background-color: #40a9ff; // Màu nền khi hover
          }
        }
      }
    }
  }

  .ant-card {
    transition: transform 0.3s;
    margin-bottom: 20px;
    position: relative;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
    }

    .ant-card-meta-description {
      font-size: 16px;
      color: #666;
      margin-top: 10px;

      p {
        margin: 0;
      }
    }

    .ant-card-actions {
      button {
        width: 100%;
        background-color: #52c41a;
        color: white;
        border-radius: 0 0 8px 8px;
        &:hover {
          background-color: #73d13d;
        }
      }
    }

    .sold-out {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #ff4d4f;
      color: white;
      padding: 4px 8px;
      font-size: 12px;
      border-radius: 4px;
    }
  }

  .cart {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin: 5px 0;
    }

    button {
      width: 100%;
    }
  }
}
.no-product {
  text-align: center;
  margin: 40px auto;
  color: #666;

  .icon {
    font-size: 80px;
    color: #ccc; // Màu xám nhẹ cho icon
    margin-bottom: 20px; // Thêm khoảng cách dưới icon
  }

  .main-text {
    color: rgb(242, 80, 80);
    font-size: 25px;
    font-family: "Times New Roman", serif;
    margin: 10px 0;
    font-weight: bold; // Đậm chữ để dễ nhìn hơn
  }

  .sub-text {
    font-size: 16px;
    color: #666; // Màu xám nhạt cho dòng hướng dẫn
  }
}
