.profile_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;

  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .profile_left {
    width: 40%;
    padding-right: 20px;
    border-right: 1px solid #eaeaea;

    .profile_greeting {
      font-size: 18px;
      margin-bottom: 20px;
      strong {
        color: black;
      }
    }

    .profile_menu {
      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 50px;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            color: orange;
          }

          &.active {
            color: #ff4500; // Màu của mục được chọn
            font-weight: bold;
            position: relative;

            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 2px;
              background: orange;
              position: absolute;
              left: 0;
              bottom: -5px;
            }
          }

          &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: orange;
            transition: width 0.3s;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }

  .profile_right {
    width: 55%;
    padding-left: 20px;

    .ant-descriptions-item-label {
      font-weight: bold;
    }

    .ant-descriptions-item-content {
      color: #333;
    }
  }
}
