.review-posts-container {
  padding: 20px;
  background-color: #f9f9f9; // Màu nền nhẹ cho vùng quản lý
  border-radius: 8px; // Các góc bo tròn
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); // Tạo đổ bóng nhẹ cho hộp

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; // Màu chữ cho tiêu đề
    text-align: center; // Căn giữa tiêu đề
  }

  .ant-table-wrapper {
    background-color: white; // Màu nền trắng cho bảng
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);

    .ant-table {
      .ant-table-thead > tr > th {
        background-color: #fafafa; // Màu nền của header bảng
        font-weight: bold;
        text-align: center; // Căn giữa nội dung cột
        color: #555;
      }

      .ant-table-tbody > tr > td {
        text-align: center; // Căn giữa nội dung cột
        padding: 12px;
      }
    }
  }

  .ant-btn {
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;

    &.ant-btn-primary {
      background-color: #1890ff;
      border-color: #1890ff;
      &:hover {
        background-color: #40a9ff;
        border-color: #40a9ff;
      }
    }

    &.ant-btn-danger {
      background-color: #ff4d4f;
      border-color: #ff4d4f;
      &:hover {
        background-color: #ff7875;
        border-color: #ff7875;
      }
    }
  }

  // Style cho hình ảnh
  .ant-image {
    border-radius: 8px;
    width: 80px;
    height: 70px;
    object-fit: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
}
