.all-product-page {
  padding: 20px;
  background-color: #f9f9f9;

  h1 {
    background-color: #c052b3;
    border-radius: 5px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    padding-left: 70px;
    color: #fff;
  }
}
