.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr; /* Sidebar chiếm 260px, nội dung chính chiếm phần còn lại */
  grid-template-rows: 80px 1fr; /* Header chiếm 80px, nội dung chính chiếm phần còn lại */
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh; /* Đặt chiều cao toàn màn hình */
}

header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  background-color: #263043;
  height: 100vh; /* Đảm bảo Sidebar có chiều cao toàn bộ màn hình */
  position: fixed; /* Sidebar cố định */
}

.main-content {
  grid-area: main;
  margin-left: 260px; /* Đảm bảo nội dung chính không bị che bởi Sidebar */
  padding: 20px;
  width: calc(100% - 260px); /* Nội dung chiếm phần còn lại */
  overflow-y: auto;
}
