/* adminPage.scss */

.grid-container {
  display: grid;
  grid-template-columns: 220px 1fr; /* Thu gá»n Sidebar */
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
  font-family: "Arial", sans-serif;
}

.sidebar {
  grid-area: sidebar;
  background-color: #263043;
  height: 100vh;
  position: fixed;
  width: 220px;
  transition: all 0.3s ease-in-out;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 12px 18px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #2e3b55;
    }
  }

  .active {
    background-color: #ff4d4f;
  }
}

.main-content {
  grid-area: main;
  margin-left: 220px;
  padding: 10px;
  width: calc(100% - 220px);
  overflow-y: auto;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 16px;
  }

  .review-posts-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .ant-table {
    border-radius: 10px;
  }

  .ant-table-thead > tr > th {
    background-color: #f0f2f5;
    font-weight: bold;
    font-size: 14px;
  }

  .ant-table-tbody > tr:hover {
    background-color: #e6f7ff;
  }
}
