* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #ca88ad;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

  &__center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .header__right {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      color: white; // Màu sắc của văn bản
      text-decoration: none;

      .anticon {
        // Class của biểu tượng UserOutlined
        font-size: 32px; // Kích thước lớn của biểu tượng
        margin-right: -20px; // Giảm khoảng cách giữa biểu tượng và chữ
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 20px;
          font-weight: 500; // Độ đậm của chữ
          line-height: 1.2; // Khoảng cách giữa các dòng
        }

        li:first-child {
          font-size: 18px; // Kích thước nhỏ hơn cho dòng đầu tiên ("Thông tin")
        }
      }

      &:hover {
        color: #ccc; // Đổi màu khi hover
      }
    }

    .header__buttons {
      button {
        background-color: transparent;

        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 16px;

        .anticon {
          font-size: 20px;
          margin-right: 8px;
        }

        &:hover {
          color: #ccc;
        }

        & + button {
          margin-left: 16px; // Khoảng cách giữa hai nút
        }
      }
    }
  }

  .line-separator {
    width: 80%;
    height: 2px;
    background-color: #fff;
    margin: 15px 0;
  }

  .navbar {
    background-color: #ca88ad;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;

    &__menu {
      list-style: none;
      display: flex;
      gap: 50px;

      li {
        color: white;
        font-size: 22px;
        font-size: bold;
        font-weight: 500;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;

        &:hover {
          color: yellow;
        }

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: yellow;
          transition: width 0.3s;
          position: absolute;
          left: 50%; /* Bắt đầu từ giữa */
          bottom: 0; /* Đặt đường viền ngay dưới chữ */
          transform: translateX(-50%);
        }

        &:hover::after {
          width: 100%;
        }
      }
      //search bar
      li:nth-last-child(1) {
        display: flex;
        margin-top: -1.5%;
        align-items: center;

        input {
          padding: 10px 20px;
          border-radius: 25px;
          border: 1px solid #ddd !important;
          outline: none;
          font-size: 16px;
          transition: border-color 0.3s, box-shadow 0.3s;

          &:focus {
            border-color: #e012f3 !important;
            box-shadow: 0 0 5px rgba(243, 156, 18, 0.5) !important;
          }
        }

        button {
          background-color: #f39c12;
          border: none;
          padding: 10px 15px;
          cursor: pointer;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 16px;
          transition: background-color 0.3s, box-shadow 0.3s;

          &:hover {
            background-color: #e67e22 !important;
            box-shadow: 0 0 10px rgba(230, 126, 34, 0.5) !important;
          }
        }
      }
    }
  }

  .header__buttons {
    display: flex;
    gap: 30px;

    button {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;
      padding: 10px 25px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 8px;
      transition: all 0.3s;

      &:hover {
        background-color: #fff;
        color: #ffa41b;
      }
    }

    .header__login {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: #2c5f2d;
      border: 2px solid white;
      padding: 10px 25px;
      transition: 0.3s;

      &:hover {
        background-color: white;
        color: #2c5f2d;
      }
    }

    .header__register {
      background-color: #f39c12;
      border: 2px solid #f39c12;
      color: #fff;
      padding: 10px 25px;
      font-weight: bold;
      transition: 0.3s;

      &:hover {
        background-color: white;
        color: #f39c12;
      }
    }
  }
}
