.product-detail {
  padding: 20px;

  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      font-size: 16px;
      border-radius: 5px;
      transition: all 0.3s;

      &:first-child {
        background-color: #6ba34e;
        border-color: #6ba34e;
        color: white;

        &:hover {
          background-color: #5c923f;
          border-color: #5c923f;
        }
      }

      &:nth-child(2) {
        margin-left: 10px;
        background-color: #fff;
        border-color: #d9d9d9;
        color: #595959;

        &:hover {
          background-color: #fafafa;
          border-color: #d9d9d9;
        }
      }
    }
  }

  .product-description {
    margin-top: 20px;
    background-color: #fff;  // Nền màu trắng để làm nổi bật phần mô tả
    border-radius: 8px;  // Góc bo tròn để tạo cảm giác mềm mại
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  // Đổ bóng nhẹ để tạo hiệu ứng nổi
    padding: 30px;  // Khoảng cách bên trong để các phần nội dung không sát cạnh
  
    transition: transform 0.3s ease, color 0.3s ease;  // Hiệu ứng chuyển động khi hover
  
    &:hover {
      color: #ff4d4f;  // Chuyển màu chữ sang đỏ khi di chuột vào phần mô tả
      transform: translateY(-5px);  // Hiệu ứng nâng lên khi hover
    }
  
    h3 {
      font-size: 24px;  // Cỡ chữ của tiêu đề
      font-weight: bold;  // In đậm tiêu đề
      margin-bottom: 15px;  // Khoảng cách bên dưới tiêu đề để nội dung không sát nhau
      color: #333;  // Màu chữ đậm
      &:hover {
        color: #ff4d4f;  // Chuyển màu chữ sang đỏ khi di chuột vào phần mô tả
      
      }
    }
  
    p {
      margin-bottom: 10px;  // Khoảng cách giữa các đoạn văn
      color: #555;  // Màu chữ nhẹ nhàng, dễ đọc
      font-size: 16px;  // Cỡ chữ phù hợp
      line-height: 1.6;  // Khoảng cách giữa các dòng giúp dễ đọc hơn
      &:hover {
        color: #ff4d4f;  // Chuyển màu chữ sang đỏ khi di chuột vào phần mô tả
      
      }
    }
  }
  

  .additional-images {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 20px; /* Sử dụng gap để tạo khoảng cách giữa các ảnh */
  }

  .additional-image {
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    object-fit: cover;
    display: block; /* Đảm bảo ảnh là block để gap hoạt động */

    &:hover {
      transform: scale(1.1);
    }
  }

  .product-thumbnail {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 510px;
    object-fit: cover;
    border-radius: 10px;
  }

  .price {
    color: #ff6f61;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
