// Đặt chung trong file Orders.scss
.order_container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }

  .ant-table-wrapper {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // Box shadow bao quanh table
    overflow: hidden; // Đảm bảo bo tròn viền table
  }

  .ant-table {
    background-color: white;

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      text-align: center;
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
      white-space: normal; // Cho phép xuống dòng
      word-wrap: break-word; // Cắt từ để xuống dòng khi cần
    }

    .ant-table-thead > tr > th {
      background-color: #f08686;
      color: white;
      font-weight: 500;
    }

    .ant-table-tbody > tr > td {
      font-size: 14px;
      max-width: 150px;

      &:nth-child(3) {
        // Đảm bảo cột Địa chỉ có thể xuống dòng
        max-width: 200px;
      }
    }

    .ant-table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }

  // Thiết kế nút "Đánh giá"
  .ant-btn-primary {
    background-color: #de4848;
    border-color: #4caf50;
    color: #fff;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #66bb6a;
      border-color: #66bb6a;
      box-shadow: 0 4px 12px rgba(102, 187, 106, 0.4);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
    }

    &:active {
      background-color: #388e3c;
      border-color: #388e3c;
    }
  }

  // Màu sắc cho nút "Hủy"
  .ant-btn-danger {
    background-color: #f5222d;
    border-color: #f5222d;
    color: white;
    font-weight: 500;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ff4d4f;
      border-color: #ff4d4f;
    }

    &:disabled {
      background-color: #f9f9f9;
      border-color: #d9d9d9;
      color: #d9d9d9;
    }
  }
}
